.swiper-slide {
    width: 20rem !important;
}

.swiper-button-prev {
    background: #ffffff9e;
    height: 4rem;
    width: 3rem;
    border-radius: 5px;
    color: black;
}
.swiper-button-next {
    background: #ffffff9e;
    height: 4rem;
    width: 3rem;
    border-radius: 5px;
    color: black;
}
@media (max-width: 1080px) {
    .swiper-slide {
     width: 16rem !important;
    }

}

@media (max-width: 450px) {
    .swiper-slide {
     width: 45vw;
    }

}

